<div class="jumbotron">
  <h1>ブラウザによる音声認識＆発話demo</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
	喋ってみてください
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>こんにちは</h4>
  <p>
	返答：やあ、こんにちは
  </p>

  <h4>元気ですか</h4>
  <p>
	返答：はい、元気です
  </p>

  <h4>さようなら</h4>
  <p>
	返答：では、ごきげんよう。
  </p>

  <h4>最近の〜について教えて。</h4>
  <p>
　　動かない・・・ワイルドカードが日本語だとうまくきかない。
  </p>

  <h4>今後の予定</h4>
  <p>
	<a href="http://stp-the-wld.blogspot.jp/2015/01/javascriptkuromojijs.html">形態素解析</a>や、<a href="http://qiita.com/laco0416/items/b75dc8689cf4f08b21f6">構文解析</a>まで、JavaScript上だけで実行してみるのも、面白いかもしれない。
  </p>
</div>
